.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

#spendArea{
    margin-top: -222px;
    color: white;
}

#largeNumbers{
    font-size: 30px;
}

body {
    background: #a7cecd;
}

#wrapper {
    background-color: #0f3a53;
    font-family: helvetica;
    text-align: center;
    width: 350px;
    /* height: 560px; */
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    padding-bottom: 20px;
}

h1 {
    padding-top: 50px;
    margin-bottom: 50px;
    color: #5c9292;
    font-size: 40px;
}

p {
    color: white;
    font-size: 15px;
    margin: 0;
}

#submit{
    background-color: #e76c37;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#budgetInput {
    margin-bottom: 20px;
}

#transactionHistoryArea {
    text-align: left;
    background: #cccccc;
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 90%;
    border-radius: 10px;

}

#transactionHistoryArea p {
    color: black;
    /* margin-top: -25px; */
}

#largeNumbers {
    color: #e89247;
}

#entOutput {
    text-align: left;
    /* background: blue;
    width: 80%;   */
    margin: 10px;
    border-radius: 10px;
    /* padding-bottom: 20px; */
}

#foodOutput {
    text-align: left;
    /* background: purple;
    width: 90%;   */
    margin: 10px;
    border-radius: 10px;
}

#clothingOutput {
    text-align: left;
    /* background: darkred; */
    /* width: 90%;  */
    margin: 10px;
    border-radius: 10px;
    /* padding-left: 20px; */
}

#billsOutput {
    text-align: left;
    /* background: orangered; */
    /* width: 90%;  */
    margin: 10px;
    border-radius: 10px;
} */

b {
    color: white;
}

/* .progress { */
    /*width: 30%; /* THIS IS WHAT CONTROLS THE PROGRESS BARS */
    /* height: 10px;
    background: #5c9292;
    padding: 5px;
    border-radius: 10px; */
/* } */

/* #entProgress{
    width: 60%;
} */

#budgetEntry p{
    color: white;
}

#spendArea h4 {
    color: white;
}

#budgetOutput p, #balanceOutput p, #totalSpent p {
    display: inline;
    text-align: left;
}

/* media query */
@media (min-width: 768px) {
    #wrapper {
      width: 768px;
    }
  }
  @media (min-width: 1024px) {
    #wrapper {
      width: 100%;
    }
  }